@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: "Roboto Slab", serif;
    background-color:rgb(255, 255, 255);
    margin: 5%;
    line-height: 1.6;

}
main{
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgb(153, 153, 117);
    
}
header{
    text-align: center;
    color: aqua;
    padding: 20px 0;
    border-radius: 8px 8px 0;
    background-image:url("./img/code.avif") ;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    
}
